@using UniversityCourseAndResultManagementSystemApp.Models
@model UniversityCourseAndResultManagementSystemApp.Models.ResultView
@{
    ViewBag.Title = "ViewResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Student> listOfStudentRegNo = ViewBag.listOfStudentRegNo;
    listOfStudentRegNo.Insert(0, new Student(null, "RRR", "---Select---"));
}



@using (Html.BeginForm())
{
    <fieldset>
        <legend>View Result</legend>
        <div class="form-horizontal">


            <div class="form-group">
                @Html.LabelFor(resultView => resultView.StudentId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(resultView => resultView.StudentId, new SelectList(listOfStudentRegNo, "Id", "RegNo"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(resultView => resultView.StudentId)
                </div>
            </div>







            <div class="form-group">
                @Html.LabelFor(resultView => resultView.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(resultView => resultView.Name, new { @class = "form-control", @placeholder = "Student Name", @readonly = "readonly" })
                    @Html.ValidationMessageFor(resultView => resultView.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(resultView => resultView.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(resultView => resultView.Email, new { @class = "form-control", @placeholder = "Student Email", @readonly = "readonly" })
                    @Html.ValidationMessageFor(resultView => resultView.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(resultView => resultView.Department, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(resultView => resultView.Department, new { @class = "form-control", @placeholder = "Department", @readonly = "readonly" })
                    @Html.ValidationMessageFor(resultView => resultView.Department)
                </div>
            </div>




            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @*<button type="button"  class="btn btn-default">Make PDF</button>*@
                    <a href="@Url.Action("MakePdf", "ResultView")">Make PDF</a>
                    
                </div>


                <table class="table table-bordered table-hover table-responsive table-striped" id="ViewResultTable">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Name</th>
                            <th>Grade</th>

                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>


            </div>
        </div>
        
    </fieldset>

}





@section scripts
{


    <script>
        $(document).ready(function () {
            $("#StudentId").change(function () {
                var studentId = $("#StudentId").val();
                var json = { studentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '/ResultView/GetNameEmailDepartmentByStudentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $.each(data, function (key, value) {

                            $("#Name").val(value.Name);
                            $("#Email").val(value.Email);
                            $("#Department").val(value.DepartmentName);


                        });


                    }
                });
            });
        });

    </script>



    <script>
        $(document).ready(function () {
           
            $("#StudentId").change(function () {
                var studentId = $("#StudentId").val();
                var json = { studentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '/ResultView/GetResultByStudentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                       
                        $("#tablebody").empty();
                        $.each(data, function (key, value) {
                           

                            $("#tablebody").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.Grade + '</td></tr>');
                        });
                    }
                });
            });


        });
    </script>





    <script src="~/Scripts/jquery-2.2.3.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    
    
    
   

}
