@using UniversityCourseAndResultManagementSystemApp.Models
@model UniversityCourseAndResultManagementSystemApp.Models.Teacher
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> listOfDepartments = ViewBag.listOfDepartments;
    //Add a department in First Index in Department List
    listOfDepartments.Insert(0, new Department(null, "AAA", "---Select---"));
}



@using (Html.BeginForm())
{
    <fieldset>
        <legend>Save Teacher</legend>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(teacher => teacher.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(teacher => teacher.Name, new { @class = "form-control", @placeholder = "Teacher Name" })
                    @Html.ValidationMessageFor(teacher => teacher.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(teacher => teacher.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(teacher => teacher.Address, new { @class = "form-control", @placeholder = "Teacher Address" })
                    @Html.ValidationMessageFor(teacher => teacher.Address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(teacher => teacher.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(teacher => teacher.Email, new { @class = "form-control", @placeholder = "Teacher Email" })
                    @Html.ValidationMessageFor(teacher => teacher.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(teacher => teacher.ContactNo, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(teacher => teacher.ContactNo, new { @class = "form-control", @placeholder = "Teacher Contac No" })
                    @Html.ValidationMessageFor(teacher => teacher.ContactNo)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(teacher => teacher.Designation, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(teacher => teacher.Designation, new SelectList(ViewBag.GetAllDesignation, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(teacher => teacher.Designation)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(teacher => teacher.DepartmentId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(teacher => teacher.DepartmentId, new SelectList(listOfDepartments, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(teacher => teacher.DepartmentId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(teacher => teacher.CreditToBeTaken, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(teacher => teacher.CreditToBeTaken, new { @class = "form-control", @placeholder = "Total Credit" })
                    @Html.ValidationMessageFor(teacher => teacher.CreditToBeTaken)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
                <h3>@ViewBag.message</h3>
            </div>
        </div>
    </fieldset>
}
@section scripts
 {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
